@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');

footer {
    background-color: #000;
    padding: 0;
}

.footerContainer {
    background-color: #000;
    width: 100%;
    padding: 20px 50px 5px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    margin: 10px;
    border-radius: 50%;
    transition: 0.5s;
}

.socialIcons a i {
    font-size: 30px;
    color: #c89d41;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #3b141c;
}

.socialIcons a:hover i {
    color: #c89d41;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.footerNav ul li a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #c89d41;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 2px;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    color: #c89d41;
    margin: 0;
}

.designer {
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    margin: 0 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
        gap: 10px;
    }
}